var contents = "<select id='change_day' name='entry[birth_day]'><option value=''></option>";

<%= @_birth_day.each do |day| %>
  contents += " <option value='<%= day %>'><%= day %></option>";
<% end %>

contents += "</select>";

$('#change_day').html(contents);

$('#change_day')[0].selectedIndex=<%= @_day %>;
