/* =============================================================================
   ページ共通
   ========================================================================== */
@mixin _left_block{ border-left: 6px solid yellowgreen;padding-left: 1%;}
@mixin _section{height: 38px; padding: 1%; margin-bottom: 10px; @include _left_block;}
@mixin box_sizing {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

.title{@include _section;}
h2{@include _section;color:#333;font-size:16px;font-weight:normal;padding:10px;font-weight: bold;letter-spacing: 0.2em;}
.gray {background:#3E4C59;}
.remarks{font-size:14px;}       /* 会社概要ページ上部の紹介文 */
.button{margin-right:10px;}     /* ボタンとボタンの隙間 */
.dummy_row{height:15px;}
.dummy_high_row{height:30px;}
.dummy_highest_row{height:50px;}

article section{background:#fff;padding:1% 3%;}
article section p{font-size:14px;margin-bottom:15px;}
article .container{background:#fff;padding:1% 3%;}
article .container p{font-size:14px;margin-bottom:15px;}

/* =============================================================================
   ヘッダー (サイトマップとホームへのリンク)
   ========================================================================== */
header a{font-size: 10px;}
header ul{margin-bottom:0px;}

/* =============================================================================
   ナビゲーション
   ========================================================================== */
.logo{width:100%;height:100%;}
/* nav.top-bar ul.title-area li.toggle-topbar.menu-icon a{background-color: #000;margin-top:20px;overflow:visible;} */

/* nav.top-bar ul.title-area li.toggle-topbar.menu-icon{height:200px;} */

/* =============================================================================
   トップページ
   ========================================================================== */
article.home .new_container{margin-bottom:1px;vertical-align: middle;}
/* article.home #top_image_slide_area{width:100%;height:20%;display: block;} */
article.home #top_image_slide{visibility:hidden;}
article.home .label{width:80px;}
article.home ul#top_image_slide li img{min-width:100%;}

/* =============================================================================
   会社概要
   ========================================================================== */
article.profile_company h4{@include _section;color:#333;font-size:16px;font-weight:normal;padding:10px;width: 95px;height: 40px;padding: 10px;margin-bottom: 20px;}
article.profile_company p{width: 290px; font-size:14px;text-indent: 1em;padding: 10px;}
article.profile_company .address_contents{padding:16px 25px;}
article.profile_company .service_contents{padding:12px 25px;}
article.profile_company img{margin-left:30px;}
/* article.profile_company .container{margin-left:20px;} */
article.profile_company h2{font-weight: normal;}

/* =============================================================================
   企業理念
   ========================================================================== */
article.policy ol li{font-size:14px;}

/* =============================================================================
   沿革
   ========================================================================== */
article.profile_history .container{background:#FFF;padding:1% 3%;zoom:1;}
article.profile_history .title{width: 110px;}
article.profile_history .content{width: 295px; height: 38px; padding: 1%; margin-bottom: 40px; }
article.profile_history .box{width:412px;}
article.profile_history .box section{margin-bottom:15px;}
article.profile_history .large_height{height: 120px; padding: 1%;}

/* =============================================================================
   サービス
   ========================================================================== */
article.service h6{color:#BE2F23;}
article.service table {border:0;}
article.service table td {background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.service table .large_width{width: 200px;}
article.service table td strong{color:#3D3932;}
article.service p{/* text-indent: 1em; */margin-bottom:10px;}
article.service ul li strong {font-size:14px;margin-bottom:15px;color:#4A5928;}
article.service ul li {font-size:14px;margin-bottom:15px;}

/* =============================================================================
   開発実績
   ========================================================================== */
article.zisseki h5{color:#768C34;}

/* =============================================================================
   役員紹介
   ========================================================================== */
article.executive p{font-size:14px;margin-bottom:10px;margin-left:10px;}
article.executive .signature{font-size:14px;margin-bottom:5px;margin-left:10px;}
article.executive img{min-width:100%;}

/* =============================================================================
   採用情報
   ========================================================================== */
article.recruit li{margin-left:40px;}

/* =============================================================================
   新卒採用
   ========================================================================== */
article.fresh table {border:0;}
article.fresh table td {background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.fresh table .large_width{width: 40%;}
article.fresh table td strong{color:#6E6E6E;}
article.fresh h2{margin-bottom:25px;}
article.fresh h2{margin-bottom:25px;}

/* =============================================================================
   キャリア採用
   ========================================================================== */
article.career table {border:0;}
article.career table td {background-color:#fff;border-bottom: 1px solid #ECECEC;height:60px;}
article.career table .large_width{width: 40%;}
article.career table td strong{color:#6E6E6E;}

/* =============================================================================
   お問い合わせ
   ========================================================================== */
article.inquiry .container{border:1px solid #DDD;height:320px;overflow-y:scroll;}
article.inquiry .container h2 {border-left: 6px solid #3E4C59;}
article.inquiry section{padding:0px;margin-bottom: 20px;}
article.inquiry section p{margin-bottom:0px;}
article.inquiry section h6 {margin-bottom: 5px;}
/* article.inquiry p{text-indent: 1em;} */

/* =============================================================================
   アクセス
   ========================================================================== */
article.access .container{padding:1% 3%;}
article.access h2 a{display:none;}
article.access #map_canvas{width:25em;height:22.5em;}
article.access #s_view{width:25em;height:22.5em;margin-bottom: 20px;}
article.access .address_access{clear:both;margin-bottom:0px;}
article.access h6{font-size:12px;}
article.access h2{font-weight: normal;}
#s_view img {
    border: none !important;
    max-width: none !important;
}

/* =============================================================================
   エントリ
   ========================================================================== */
article.entry .alert-box.error{background:#D01E29;border-color:#D01E29;}
article.entry li.bullet-item {color:#D91A1A;}
article.entry span{margin-left:10px;color:red;}
article.entry .remarks{padding:0px 25px; font-size:14px;color:#333;}
article.entry span_aster{color:red;}
article.entry section{margin-bottom:5px;}
article.entry section{word-break: break-all;}
article.entry .strong_text{font-weight: bold;}

article.entry_comp p{margin-bottom: 10px;font-size: 18px;}

/* =============================================================================
   お問い合わせページ
   ========================================================================== */
article.inquiry_page .alert-box.error{background:#D01E29;border-color:#D01E29;}
article.inquiry_page li.bullet-item {color:#D91A1A;}
article.inquiry_page span{margin-left:10px;color:red;}
article.inquiry_page section{margin-bottom:10px;}
article.inquiry_page .remarks{padding:8px 11px; font-size:14px;color:#333;margin-bottom:10px;}
article.inquiry_page section{word-break: break-all;}
article.inquiry_page .strong_text{font-weight: bold;}

article.inquiry_comp p{margin-bottom: 10px;font-size: 18px;}
/* =============================================================================
   お問い合わせ送信ぺージ
   ========================================================================== */
article.inquiry_send .alert-box.error{background:#D01E29;border-color:#D01E29;}
article.inquiry_send li.bullet-item {color:#D91A1A;}

/* =============================================================================
   サイトマップ
   ========================================================================== */
article.sitemap li{margin-left:60px;}

/* =============================================================================
   社員紹介
   ========================================================================== */
article.member h2{border-left: 6px solid #A59888;letter-spacing: 0.2em;margin:20px 0px;}
article.member section{padding:1% 0%;}
article.member p{margin-bottom:10px;}


/* =============================================================================
   開発環境のデバッグ情報
   ========================================================================== */
.debug_dump {clear: both;float: left;width: 100%;margin-top: 45px;@include box_sizing;}

@media only screen and (max-width: 40em) { /* small */
  article.access #map_canvas{width:15em;height:20.5em;}
}

